# Go build outputs
/bin/
/dist/
*.test
*.out

# Env files
.env
.env.*
!.env.example

# local config files
configs/config.local.yaml

# Private docs
private-docs/

# JetBrains IDE
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store

# Logs
*.log
*.zip
